/*
	App Menu
*/

nav.app-menu {
  padding: 1em $body-padding;
  background: #f2f2f2;
  font-size: .75em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 (-$body-padding);

  display: flex;
  align-items: center;
  gap: 2em;

  a {
    color: $black-color;
    display: flex;
    align-items: center;
    gap: .5em;

    .ico {
      font-size: 1.5em;
      font-weight: bold;
    }

    &:hover {
      color: $black-color-light;
    }
  }
}

@media print {
  nav.app-menu { display: none; }
}

/*
	Site Header
*/

header.main-brand-header {
  padding: 2.5em 0 1em;

  > .ak-brand {
    display: flex;
    align-items: center;

    .ak-logo {
      width: 115px;
      margin-right: 20px;

      > .ak-logo-letter-a { fill: $primary-color; }
      > .ak-logo-letter-k { fill: #444; }
    }

    h1 {
      margin: 0;
      padding: 0;
      font-size: 2em;
      font-weight: 700;
      line-height: 1;
      color: $primary-color;
      width: 6em;
    }
  }

  .contact-options {
    margin: 2em 0 0 0;
    font-size: .9em;

    > .contact-opt {
      margin-top: .2em;
      &:first-child { margin-top: 0; }
    }

    a {
      &.phone,
      &.email {
        color: $black-color;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (min-width: 769px), print {
  header.main-brand-header {
    .contact-options {
      margin-top: 0;
    }
  }
}

/*
	Site Footer
*/

footer {
  clear: both;
  padding: 1em 0 2em;
  border-top: 1px solid $line-color;
  font-size: .9em;
  font-style: italic;
}
